{% include 'header.html' %}


    <section class="head-div">
        <div class="overlay d-flex align-items-center">
            <div class="container">
                <h1 class="text-white">Finance</h1>
            </div>
        </div>

    </section>


    <section class="finance-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-8">

                    <h5>Revised format of ACR    <span class="blink_me" style="background-color:red; padding:1px 5px 4px;color:#fff;border-radius: 4px;">New</span></h5>

                    <h5 class="pt-2">NIWE Welfare Fund Scheme</h5>
                   
                </div>
                <div class="col-md-4">
                <div class="depart-side-tabs">
                    <ul>
            
                        <a href="department_fna_admin.html">
                            <li>Administration</li>
                        </a>
                        <a href="department_fna_finance.html"> 
                            <li>Finance</li>
                        </a>
                        <a href="department_fna_purchase.html">
                            <li>Purchase</li>
                        </a>
                        
                    </ul>

                  


                </div>
                </div>
            </div>
        </div>
    </section>


    {% include 'footer.html' %}