{% include 'header.html' %}

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Quality Policy</h1>
    </div>
  </div>
</section>

<section class="policy-div">
  <div class="container">
    <div class="row">
      <div class="col-md-4">{% include 'aboutsidenav.html' %}</div>
      <div class="col-md-8">
        {% for data in quality %}

        <div class="policy-img">
          <img src="{{ data.policyImage.url }}" alt="#" class="" />
        </div>

        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- footer -->

{% include 'footer.html' %}
