{% include 'header.html' %}

<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">FOWPI Report</h1>
    </div>
  </div>
</section>

<section class="dgm-div">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h5 class="pb-3">FOWPI Foundation Workshop Proceedings</h5>
        <ul>
          <a href=""><li>FOWPI foundation design</li></a>
          <a href=""><li>FOWPI status update</li></a>
          <a href=""><li>FOWPI-NIWE Offshore wind energy in India</li></a>
          <a href=""><li>Geotechnical and Offsgore solutions</li></a>
        </ul>

        <h5 class="pb-3 pt-2">FOWPI Metocean Workshop Presentations</h5>

        <ul>
          <a href=""><li>"Metocean Studies" by Dr. Jesper Skourup</li></a>
          <a href=""><li>"Offshore Wind Energy" by Dr. Rajesh Katyal</li></a>
          <a href=""
            ><li>
              "FOWPI Project & European OWF Experience" by Mr. Per Volund
            </li></a
          >
          <a href=""
            ><li>
              "EU Energy Policy & Offshore Wind" by Ms. Cecile Leemans
            </li></a
          >
        </ul>
      </div>
      <div class="col-md-4">
        <div class="depart-side-tabs">
          <ul>
            <a href="/statics/images/EIA_report.pdf">
              <li>
                EIA Report
                <span
                  class="blink_me"
                  style="
                    background-color: red;
                    padding: 1px 5px 4px;
                    color: #fff;
                    border-radius: 4px;
                  "
                  >New</span
                >
              </li>
            </a>
            <a href="https://mnre.gov.in/">
              <li>
                Offshore Strategy Paper
                <span
                  class="blink_me"
                  style="
                    background-color: red;
                    padding: 1px 5px 4px;
                    color: #fff;
                    border-radius: 4px;
                  "
                  >New</span
                >
              </li>
            </a>

            <a href="department_wra&o_fowind_report.html">
              <li>FOWIND Report</li>
            </a>

            <a href="fowpi_report.html">
              <li>FOWPI Report</li>
            </a>

            <a href="fowpi_workshop_presentation.html">
              <li>FOWPI Workshop Presentations</li>
            </a>

            <a href="department_owd_lidar_raw_data.html">
              <li>Offshore LiDAR raw data</li>
            </a>

            <a href="department_wra&o_offshore_portal.html">
              <li>Offshore Wind Energy Portal</li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{% include 'footer.html' %}
