{% include 'header.html' %}

<!-- nav end  -->

<section class="head-div">
  <div class="overlay d-flex align-items-center">
    <div class="container">
      <h1 class="text-white">Revised Guidelines for Wind Power Project</h1>
    </div>
  </div>
</section>

<section class="hwed-sec">
  <div class="container">
    <a href="#"><h5 class="text-dark">India - Year Wise</h5></a>

    <a href="#"><h5 class="text-dark">World - Country Wise</h5></a>
  </div>
</section>

<!-- footer -->

{% include 'footer.html' %}
