{% include 'header.html' %}

    <!-- nav end  -->

    <section class="head-div">
        <div class="overlay d-flex align-items-center">
            <div class="container">
                <h1 class="text-white">Related Links</h1>
            </div>
        </div>

    </section>


    <section class="document-div">
        <div class="container">
            <h4 class="pb-2">INDIA</h4>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{relLinks.0.title}}
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
              
                    <ul class="wra-list">
                       <a href="https://www.ireda.in/" target='blank'> <li>Indian Renewable Energy Development Agency - IREDA</li></a>
                       <a href="https://www.mnre.gov.in/" target='blank'> <li>Ministry of New and Renewable Energy - MNRE</li></a>
                    </ul>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                WIND ENERGY ASSOCIATIONS
                </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <ul class="wra-list">
                        <a href="http://www.inwea.org/" target='blank'><li>Indian Wind Energy Association - INWEA</li></a>
                        <a href="https://www.windpro.org/" target='blank'><li>Indian Wind Power Association - IWPA</li></a>
                        <a href="https://www.indianwindpower.com/" target='blank'><li>Indian Wind Turbine Manufactures Association - IWTMA</li></a>
                    </ul>
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                WIND ENERGY RESEARCH INSTITUTIONS
                </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                    <ul class="wra-list">
                        <a href="https://niwe.res.in/" target='blank'><li>National Institute of Wind Energy - NIWE</li></a>
                        <a href="https://www.wisein.org/" target='blank'><li>World Institute of Sustainable Energy - WISE</li></a>
                    </ul>
                    </div>
                </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                RENEWABLE ENERGY
                </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                            <ul class="wra-list">
                                <a href="http://energy.sourceguides.com/index.shtml" target='blank'><li>The Source for Renewable Energy</li></a>
                                <a href="https://www.windpowerindia.com/" target='blank'><li>Wind Power India</li></a>
                            </ul>
                    </div>
                </div>
            </div>



            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                PERIODICALS : Newsletter / Magazine / Journals
                </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <ul class="wra-list">
                                    <a href=""><li>PAVAN - News Letter</li></a>
                                    <a href="https://akshayurja.gov.in/res/renw-all-india-cp" target='blank'><li>Akshay Urja - Renewable Energy A newsletter of MNRE</li></a>
                                    <a href="https://biofuels-news.com/" target='blank'><li>BioFules International</li></a>
                                    <a href="http://www.cogenindia.org/newsletter.html" target='blank'><li>Cane Cogen India</li></a>
                                    <a href="https://www.cleanindiajournal.com/" target=blank><li>Clean India Journal</li></a>
                                    <a href="https://www.currentscience.ac.in/" target=blank><li>Current Science</li></a>
                                    <a href="https://www.downtoearth.org.in/" target=blank><li>Down to Earth</li></a>
                                    <a href="https://www.electricalindia.in/" target=blank><li>Electrical India</li></a>
                                    <a href="https://www.electronicsforu.com/" target=blank><li>Electronics for You</li></a>
                                    <a href="https://www.aipnpc.org/" target=blank><li>Energy Manager</li></a>
                                    <a href=""><li>Renewable Energy Latest</li></a>
                                    <a href="http://www.inwea.org/information/publications/inwind-chronicle" target=blank><li>In Wind Chronicle - India Wind Energy Association</li></a>
                                    <a href=""><li>India Green File</li></a>
                                    <a href="https://indjst.org/" target=blank><li>Indian Journal of Science and technology</li></a>
                                    <a href="https://www.ias.ac.in/resonance/" target=blank><li>Resonance (Journal of Science and Education)</li></a>
                                    <a href=""><li>South Asia Green File</li></a>
                                    <a href="https://www.indianjournals.com/ijor.aspx?target=ijor:tidee&type=home" target=blank><li>TERI - TIDEE (Information Digest on Energy and Environment)</li></a>
                                    <a href="http://bookstore.teriin.org/book_inside.php?material_id=437" target=blank><li>TERI - Energy Data Directory</li></a>
                                    <a href=""><li>TERI - Teriscope</li></a>
                                    <a href="https://www.iospress.com/loadtop/load.php?isbn=09730516" target=blank><li>TERI - Resource Energy and Development</li></a>
                                    <a href=""><li>TERI - Newswire</li></a>
                                    <a href="https://terragreen.teriin.org/" target=blank><li>TERI - Terragreen</li></a>
                                    <a href=""><li>TERI - Energy Security Insights</li></a>
                                    <a href="https://www.windpowerindia.com/index.php" target=blank><li>Wind Power India</li></a>
                                    <a href="https://www.windpro.org/monthlymag.html" target=blank><li>WINDPRO - A monthly magazine</li></a>
                            </ul>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSix">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                DEALERS / MANUFACTURES
                </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <h5>Large Wind Turbine Manufacturers</h5>
                            <ul class="wra-list">
                               <a href="http://cwel.in/" target=blank><li>Boiler Marketing & Services</li></a>
                               <a href="http://cwel.in/" target=blank><li>Chiranjjeevi Wind Energy Limited.</li></a>
                               <a href="http://elecon.nlihost.com/" target=blank><li>Elecon Engineering Company Ltd.</li></a>
                               <a href="http://www.enerconindia.net/index.jsp" target=blank><li>Enercon India Ltd.</li></a>
                               <a href="http://www.gamesacorp.com/en/" target=blank><li>Gamesa Wind Turbine Pvt Ltd.</li></a>
                               <a href="http://gvsl.in/" target=blank><li>Garuda Vaayu Shakthi Ltd</li></a>
                               <a href="https://www.gevernova.com/" target=blank><li>GE Wind Energy India</li></a>
                               <a href="https://www.ghodawatenergy.com/" target=blank><li>Ghodawat Industries India Pvt. Ltd.</li></a>
                               <a href="http://www.gwpl.co.in/" target=blank><li>Global Wind Power Limited.</li></a>
                               <a href="http://www.greenpowerservices.net/" target=blank><li>Green Power Services</li></a>
                               <a href="https://www.hindustancontrols.com/lander" target=blank><li>Hindustan Controls & Equipment Pvt. Ltd.</li></a>
                               <a href="https://inoxwind.com/" target=blank><li>Inox Wind Limited.</li></a>
                               <a href="http://www.kenersys.com/" target=blank><li>Kenersys India Pvt Ltd</li></a>
                               <a href="https://www.lmwindpower.com/" target=blank><li>L M Glasfibre India Pvt. Ltd.</li></a>
                               <a href="http://www.leitwind.in/" target=blank><li>Leitner Shriram Manufacturing Limited</li></a>
                               <a href="http://www.nagalaxmiindustries.com/" target=blank><li>Nagalaxmi Industries</li></a>
                               <a href="https://www.hugedomains.com/domain_profile.cfm?d=nepcindia.com" target=blank><li>Natural Energy Processing Co. (NEPC)</li></a>
                               <a href="http://pioneerwincon.com/main.htm" target=blank><li>Pioneer Wincon Private Ltd.</li></a>
                               <a href="https://www.regenpowertech.com/" target=blank><li>Regen Powertech Pvt. Ltd.</li></a>
                               <a href="http://www.rkwind.com/" target=blank><li>RK Wind Ltd.</li></a>
                               <a href="http://rsindiagroups.com/" target=blank><li>R.S. India Group</li></a>
                               <a href="" target=blank><li>R.N. FEB TECH</li></a>
                               <a href="" target=blank><li>RRB Energy Ltd.</li></a>
                               <a href="" target=blank><li>Shriram EPC Ltd.</li></a>
                               <a href="" target=blank><li>Siva Windturbine India Pvt. Ltd.</li></a>
                               <a href="" target=blank><li>Southern Wind Farms Ltd.</li></a>
                               <a href="" target=blank><li>Suzlon Energy Ltd.</li></a>
                               <a href="" target=blank><li>Vestas Wind Technology India Private Ltd.</li></a>
                               <a href="" target=blank><li>Wind care India Pvt. Ltd.</li></a>
                               <a href="" target=blank><li>Wintec Energy Ltd.</li></a>
                               <a href="" target=blank><li>WinWinD</li></a>
                               <a href="" target=blank><li>Zusma Green Power Solutions Pvt. Ltd.</li></a>
                            </ul>

                            <h5>Small Wind Turbine Manufacturers</h5>


                            <ul class="wra-list">
                               <a href="" target=blank><li>3R Care (India) Pvt. Ltd.</li></a>
                               <a href="" target=blank><li>AirStream India</li></a>
                               <a href="" target=blank><li>Auroville Wind Systems</li></a>
                               <a href="" target=blank><li>Fairdeal Corporates Sales And Services</li></a>
                               <a href="" target=blank><li>Luminous Renewable Energy Solutions (P) Ltd</li></a>
                               <a href="" target=blank><li>Machinocraft Energy Systems Pvt. Ltd.</li></a>
                               <a href="" target=blank><li>Novergy Energy Solutions Pvt. Ltd.</li></a>
                               <a href="" target=blank><li>Sidilu Renewable Energy</li></a>
                               <a href="" target=blank><li>Spitzen Energy Solutions</li></a>
                               <a href="" target=blank><li>Supernova Technologies Pvt. Ltd.</li></a>
                               <a href="" target=blank><li>UD Energy Systems Private Ltd.</li></a>
                               <a href="" target=blank><li>Unitron Energy Systems Pvt. Ltd.</li></a>
                               <a href="" target=blank><li>Vaigunth Ener Tek (P) Ltd.</li></a>
                               <a href="" target=blank><li>Victory Winfarm Services Pvt. Ltd.</li></a>
                            </ul>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSeven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                STATE NODAL AGENCIES
                </button>
                </h2>
                <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>An area where a number of wind electric generators are installed is known as a wind farm. The essential requirements for establishment of a wind farm for optimal exploitation of the wind are</p>
                        <ul class="wra-list">
                       
                            <a href="" target=blank><li> ANDAMAN & NICOBAR ISLANDS - Andaman & Nicobar Administration</li></a>
                            <a href="" target=blank><li>ANDHRA PRADESH - Non Conventional Energy Development Corporation of Andhra Pradesh (NEDCAP)</li></a>
                            <a href="" target=blank><li>ARUNACHAL PRADESH - Arunachal Pradesh Energy Development Agency (APEDA)</li></a>
                            <a href="" target=blank><li>ASSAM - Assam Energy Development Agency (AEDA)</li></a>
                            <a href="" target=blank><li>BIHAR - Bihar Renewable Energy Development Agency (BREDA)</li></a>
                            <a href="" target=blank><li>CHANDIGARH - Chandigarh Administration</li></a>
                            <a href="" target=blank><li>CHHATTISGARH - Chhattisgarh State Renewable Energy Development Agency (CREDA)</li></a>
                            <a href="" target=blank><li>DADRA & NAGAR HAVELI - Administration of Dadra & Nagar Haveli</li></a>
                            <a href="" target=blank><li>DELHI - Delhi Transco Ltd</li></a>
                            <a href="" target=blank><li>GOA - Goa Energy Development Agency</li></a>
                            <a href="" target=blank><li>GUJARAT - Gujarat Energy Development Agency (GEDA)</li></a>
                            <a href="" target=blank><li>HARYANA - Haryana Renewal Energy Development Agency (HAREDA)</li></a>
                            <a href="" target=blank><li>HIMACHAL PRADESH - Himachal Pradesh Energy Development Agency (HIMURJA)</li></a>
                            <a href="" target=blank><li>JAMMU AND KASHMIR - Jammu & Kashmir Energy Development Agency (JAKEDA)</li></a>
                            <a href="" target=blank><li>JHARKHAND - Jharkhand Renewable Energy Development Agency (JREDA)</li></a>
                            <a href="" target=blank><li>KARNATAKA - Karnataka Renewable Energy Development Agency Ltd. (KREDL)</li></a>
                            <a href="" target=blank><li>KERALA - Agency for Non-Conventional Energy and Rural Technology (ANERT)</li></a>
                            <a href="" target=blank><li>LAKSHADWEEP - Administration of Union Territory of Lakshadweep</li></a>
                            <a href="" target=blank><li>LEH-LADAKH - Ladakh Renewable Energy Development Agency</li></a>
                            <a href="" target=blank><li>MADHYA PRADESH - Madhya Pradesh Urja Vikas Nigam Ltd. (MPUVN)</li></a>
                            <a href="" target=blank><li>MAHARASHTRA - Maharashtra Energy Development Agency (MEDA)</li></a>
                            <a href="" target=blank><li>MANIPUR - Manipur Renewable Energy Development Agency (MANIREDA)</li></a>
                            <a href="" target=blank><li>MEGHALAYA - Meghalaya Non-conventional & Rural Energy Development Agency (MNREDA)</li></a>
                            <a href="" target=blank><li>MIZORAM - Zoram Energy Development Agency (ZEDA)</li></a>
                            <a href="" target=blank><li>NAGALAND - Nagaland Renewable Energy Development Agency (NREDA)</li></a>
                            <a href="" target=blank><li>ORISSA - Orissa Renewable Energy Development Agency (OREDA)</li></a>
                            <a href="" target=blank><li>PONDICHERRY - Renewable Energy Agency of Pondicherry</li></a>
                            <a href="" target=blank><li>PUNJAB - Punjab Energy Development Agency (PEDA)</li></a>
                            <a href="" target=blank><li>RAJASTHAN - Rajasthan Renewable Energy Corporation Limited (RRECL)</li></a>
                            <a href="" target=blank><li>SIKKIM - Sikkim Renewable Energy Development Agency, (SKM)</li></a>
                            <a href="" target=blank><li>TAMIL NADU - Tamilnadu Energy Development Agency (TEDA)</li></a>
                            <a href="" target=blank><li>TRIPURA - Tripura Renewable Energy Development Agency (TREDA)</li></a>
                            <a href="" target=blank><li>UTTAR PRADESH - Non-conventional Energy Development Agency (NEDA)</li></a>
                            <a href="" target=blank><li>UTTRANCHAL - Uttranchal Renewable Energy Development Agency (UREDA)</li></a>
                            <a href="" target=blank><li>WEST BENGAL - West Bengal Renewable Energy Development Agency (WBREDA)</li></a>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEight">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                NATIONAL VOTERS SERVICE
                </button>
                </h2>
                <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        
                        <ul class="wra-list">

                                <a href="" target=blank><li>National Voter's Service Portal</li></a>
                               
                        </ul>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingNine">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    OTHER LINKS
                </button>
                </h2>
                <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        
                        <ul class="wra-list">

                               <a href="" target=blank><li>Conzerv Systems Pvt. Ltd - Smart energy Management</li></a>
                                <li>Greenfield Consulting Group</li>
                                <li>Metamin Tubes India</li>
                                <li>Power Technology</li>
                                <li>Re-Con Energy Consultant</li>
                                <li>SKF India Limited</li>
                                <li>Wind Energy Consulting and Contracting Inc.</li>
                                <li>Yashika Solar Energy Corporation</li>
                                <li>Solar Action Alliance</li>
                               
                        </ul>
                    </div>
                </div>
            </div>


            <h4 class="pb-3 pt-4">REST OF THE WORLD</h4>

            <div class="accordion-item border">
                <h2 class="accordion-header" id="headingTen">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                Comparison between Fossil Fuels and Wind
                </button>
                </h2>
                <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                
                        <ul class="wra-list">

                                <li>Clean energy Council</li>
                                <li>Global Wind Energy Council - GWEC</li>
                                <li>National Wind Coordinating Collaborative - NWCC</li>

                            </ul>

                       
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEleven">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">
                      GOVERNMENTAL INSTITUTIONS
                </button>
                </h2>
                <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                       
                        <ul class="wra-list">
                                <li>Danish Energy Authority</li>
                                <li>The Energy 21 Plan</li>
                                <li>U.S. Department of Energy Wind Energy Program</li>
                                <li>Wind Power in Denmark: Technology, Policies and Results</li>
                                <li>Wind Energy in California</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwl">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwl" aria-expanded="false" aria-controls="collapseTwl">
                     WIND ENERGY ASSOCIATIONS
                </button>
                </h2>
                <div id="collapseTwl" class="accordion-collapse collapse" aria-labelledby="headingTwl" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        
                        <ul class="wra-list">
                                    <li>American Wind Energy Association - AWEA</li>
                                    <li>Austrian Wind Energy Association - Auswind</li>
                                    <li>Australian Wind Energy Association - AUSWEA</li>
                                    <li>Australian Windmill contractors Association - AWCA</li>
                                    <li>British Wind Energy Association - BWEA</li>
                                    <li>Canadian Wind Energy Association - canwea</li>
                                    <li>Danish Wind Industry Association</li>
                                    <li>Danish Energy Agency</li>
                                    <li>Danish Wind turbine Owners Association</li>
                                    <li>Estonian Wind Power Association - EWPA</li>
                                    <li>European Wind Energy Association - EWEA</li>
                                    <li>Egyptian Wind Energy Association - EGWEA</li>
                                    <li>Finnish Wind Power Association</li>
                                    <li>Faroe Islands Wind Energy Association - FIWEA</li>
                                    <li>German Wind Energy Association - BWE</li>
                                    <li>Irish Wind Energy Association - IWEA</li>
                                    <li>Iowa Wind Energy Association - IWEA</li>
                                    <li>Nederlandse Wind Energie Associatie - NWEA</li>
                                    <li>New Zealand Wind Energy Association - NZWEA</li>
                                    <li>Norwegian Wind Power Association</li>
                                    <li>South African Wind Energy Association - AfriWEA</li>
                                    <li>Spanish Wind energy Association - Asociation Empresarial Eolica - aee</li>
                                    <li>South Dakota Wind Energy Association</li>
                                    <li>Swedish Wind Energy Association</li>
                                    <li>World Wind Energy Association - WWEA</li>                               
                        </ul>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThre">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThre" aria-expanded="false" aria-controls="collapseThre">
                     WIND ENERGY RESEARCH INSTITUTIONS
                </button>
                </h2>
                <div id="collapseThre" class="accordion-collapse collapse" aria-labelledby="headingThre" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                       
                        <ul class="wra-list">
                              <li>ABS Energy research</li>
                              <li>Alternative Energy Institute -- West Texas State University</li>
                              <li>Centre D' Energetique (France, Center for Energy Studies)</li>
                              <li>Cranfield University (U.K.) Wind Turbine Research Group</li>
                              <li>Delft University of Technology, Institute for wind energy</li>
                              <li>Energy research Centre of the Netherlands - ECN</li>
                              <li>National Renewable Energy Laboratory (NREL)</li>
                              <li>National Wind Technology Center</li>
                              <li>Norwegian University of Science and Technology - NTNU - Renewable Energy Research</li>
                              <li>Oregan State University Wind Research Cooperative</li>
                              <li>Pacific Northwest Laboratory</li>
                              <li>PicoTurbine Windmill and Solar Projects</li>
                              <li>Risoe National Laboratory for Sustainable Energy</li>
                              <li>Rutherford Laboratory (U.K.)</li>
                              <li>Sandia National Laboratories -- Wind Energy</li>
                              <li>Technical University of Berlin Wind Turbines</li>
                              <li>Technical University of Denmark</li>
                              <li>The University of Texas at San Antonio - UTSA - Energy research</li>
                              <li>TU Berlin Aerospace Institute</li>
                              <li>University of Muenster</li>
                              <li>World institute of sustainable energy - WISE</li>
                              <li>World Wind Energy Institute - WWEI</li>
                               
                        </ul>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFortn">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFortn" aria-expanded="false" aria-controls="collapseFortn">
                RENEWABLE ENERGY
                </button>
                </h2>
                <div id="collapseFortn" class="accordion-collapse collapse" aria-labelledby="headingFortn" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        
                        <ul class="wra-list">
                              <li>Canadian Association for Renewable Energies</li>
                              <li>Center for Renewable Energy & Sustainable Technology (CREST)</li>
                              <li>EuroREX: the Europeanv Renewable Energy Exchange</li>
                              <li>International Economic Platform for Renewable Energies (IWR) -- (Germany)</li>
                              <li>International Network for Sustainable energy (INFORSE)</li>
                              <li>International solar and renewable energy conferences calendar</li>
                              <li>Massachusetts University Renewable Energy Research Laboratory</li>
                              <li>National Renewable Energy Laboratory (NREL) -- Wind Information</li>
                              <li>Nordisk Folkecenter for Renewable energy</li>
                              <li>Renewable Energy World.com</li>
                              <li>Renewable Technologies, Inc.</li>
                              <li>Sustainable Energy Industries Council of Australia (SEICA) -- Renewable energy and energy efficiency businesses in Australia</li>
                              <li>U.S. Department of Energy - Energy Efficiency and Renewable Energy Network</li>
                              <li>World Council for renewable energy</li>   
                        </ul>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFiftn">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFiftn" aria-expanded="false" aria-controls="collapseFiftn">
                PERIODICALS : Newsletter / Magazine / Journals
                </button>
                </h2>
                <div id="collapseFiftn" class="accordion-collapse collapse" aria-labelledby="headingFiftn" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                       
                        <ul class="wra-list">
                              <li>ASCE Journal of Energy Engineering</li>
                              <li>AWEA - Wind Energy Weekly</li>
                              <li>Energy and Environmental management</li>
                              <li>EWEA - Wind Direction</li>
                              <li>Future Energy</li>
                              <li>Green Energy news</li>
                              <li>Green Power and market research news</li>
                              <li>Home Power magazine</li>
                              <li>IEEJ Energy Journal</li>
                              <li>North American Wind Power</li>
                              <li>Refocus</li>
                              <li>Renewable Energy</li>
                              <li>Renewable Energy and Sustainable Energy Reviews</li>
                              <li>Solar Energy</li>
                              <li>State Renewable Energy news - NREL</li>
                              <li>Sun and Wind Energy</li>
                              <li>TRENDS in Renewable Energies</li>
                              <li>Wind Engineering</li>
                              <li>Windpower Monthly -- World's leading Wind Energy news source</li>
                              <li>Windpower On Line</li>
                              <li>WindPRO - EMD</li>
                              <li>WindStats Newsletter.</li>
                               
                        </ul>
                    </div>
                </div>
            </div>

            <div class="accordion-item">
                <h2 class="accordion-header" id="headingSixtn">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixtn" aria-expanded="false" aria-controls="collapseSixtn">
                DEALERS / MANUFACTURES
                </button>
                </h2>
                <div id="collapseSixtn" class="accordion-collapse collapse" aria-labelledby="headingSixtn" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>An area where a number of wind electric generators are installed is known as a wind farm. The essential requirements for establishment of a wind farm for optimal exploitation of the wind are</p>
                        <ul class="wra-list">

                            <li>Anglesey Wind & Energy Ltd. -- Dealer/installer of wind equipment in UK</li>
                            <li>Bay Winds -- Midwest Jacobs Wind Energy dealer</li>
                            <li>Bergey Windpower -- Manufactures small wind systems for a variety of applications</li>
                            <li>Dynapower -- Manufacturer of custom power electronics</li>
                            <li>LM Glasfiber A/S -- Danish Turbine Blade manufacturer</li>
                            <li>Nordex Balden-Dorr GmbH -- German Turbine manufacturer. Subsidiary of Deutsche Babcock</li>
                            <li>Second Wind -- Manufacturers of wind Resource Assessment equipment</li>
                            <li>WINDTEC -- Austrian Wind Turbine manufacturer</li>
                               
                        </ul>
                    </div>
                </div>
            </div>


            <div class="accordion-item">
                <h2 class="accordion-header" id="headingEightn">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEightn" aria-expanded="false" aria-controls="collapseEightn">
                Limitation
                </button>
                </h2>
                <div id="collapseEightn" class="accordion-collapse collapse" aria-labelledby="headingEightn" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>An area where a number of wind electric generators are installed is known as a wind farm. The essential requirements for establishment of a wind farm for optimal exploitation of the wind are</p>
                        <ul class="wra-list">

                             <li>ADEME - French Environment and Energy Management Agency -- (Francais).</li>
                             <li>Atlantic Orient Corp</li>
                             <li>Brower & Co. -- Wind mapping and GIS and other services</li>
                             <li>BTM Consult Aps</li>
                             <li>Calenergy.org</li>
                             <li>Canadian Sustainable Energy Website</li>
                             <li>Denmark: Wind Energy Information</li>
                             <li>ECN, Petten, The Netherlands</li>
                             <li>EOLE -- French-speaking Internet site dedicated to wind energy</li>
                             <li>Epic Land Solutions</li>
                             <li>Flender Service -- Maintenance, repair and retrofitting of drive trains used in the wind turbine industry</li>
                             <li>Greece Wind Energy</li>
                             <li>Green-Ener-Tech Aps -- Sindal, Denmark</li>
                             <li>Home Power</li>
                             <li>Helimax Energy</li>
                             <li>Illustrated History of Wind Power Development</li>
                             <li>Lidar Systems for Wind Farms</li>
                             <li>Knight & Carver -- Building and Repairing Wind Turbine Blades</li>
                             <li>Maywind -- German turbine monitoring controls company</li>
                             <li>Mitsubishi Electric -- Wind Power Generation System</li>
                             <li>NAE - Northern Alternative Energy -- Minnesota-based wind power development company</li>
                             <li>NREL wind energy resource maps</li>
                             <li>National Wind Coordinating Committee</li>
                             <li>National Wind Technology Center</li>
                             <li>Netherlands: Wind Service Holland</li>
                             <li>New Alternatives Fund</li>
                             <li>New Energy Portal</li>
                             <li>Northwest Power Co.</li>
                             <li>Selsam Innovations</li>
                             <li>Southwest Windpower Inc. -- Battery-charging wind turbines</li>
                             <li>Sustainable Minnesota Newsletter</li>
                             <li>Sustainable Minnesota Wind Energy Resources</li>
                             <li>Synergy Power Corp.</li>
                             <li>Technical University of Denmark</li>
                             <li>TNO - Netherlands Organization for Applied Scientific Research</li>
                             <li>TU Delft - Delft University Clean Technology Institute (Netherlands)</li>
                             <li>University of Newcastle, Australia, Wind Group</li>
                             <li>University of Utah</li>
                             <li>U.S. Department of Energy - Office of Energy Research</li>
                             <li>Vestas Wind Systems A/S</li>
                             <li>Way of the Wind -- Wind Info in the Netherlands</li>
                             <li>Wind Energy Developement Programmatic EIS Information Center Wind Power</li>
                             <li>Wintec Ltd. -- Windfarm operator in the San Gorgonio Pass, Calif</li>
                             <li>Wind-Works</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- footer -->

    {% include 'footer.html' %}