<div class="tab-pane fade  rounded bg-white" id="annual_reports" role="tabpanel" aria-labelledby="annual_reports">
    <div class="grd-box pb-4">
         <div class="head1 mt-3">
           <h4>Annual Reports</h4>
         </div>
         <p class="mt-4">
            The development of programs and the transfer of best practices during the action research were the core subjects of the NIWE's agenda and the annual reports are the most important research tool available for the effective information dissemination of the Institute's, technology & research developments and educated investors.
            <br>
            Annual Reports enable the people to stay up to date on an Institute's yearly outlook. With this idea, the NIWE's Annual Report is placed here to update our activities to the people who browse the site.
            <br>
            NIWE's Annual Report is published regularly, in Hindi and English and it is also available on the website of NIWE
         </p>

    </div>
    <div class="row col-12 mx-auto px-0">
       <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
           <a href="###"> 
             <div class="card sm-card-design text-center px-1 py-2 h-100">
               <h5>2021 - 2022</h5>
               <img src="/statics/images/pdf-thumbnail.png" style="height:200px;"alt="">
            </div>
           </a>
       </div>

       <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
           <a href="###"> 
             <div class="card sm-card-design text-center px-1 py-2 h-100">
               <h5>2021 - 2022</h5>
               <img src="/statics/images/pdf-thumbnail.png" style="height:200px;"alt="">
            </div>
           </a>
       </div>

       <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
           <a href="###"> 
             <div class="card sm-card-design text-center px-1 py-2 h-100">
               <h5>2021 - 2022</h5>
               <img src="/statics/images/pdf-thumbnail.png" style="height:200px;"alt="">
            </div>
           </a>
       </div>

       <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
           <a href="###"> 
             <div class="card sm-card-design text-center px-1 py-2 h-100">
               <h5>2021 - 2022</h5>
               <img src="/statics/images/pdf-thumbnail.png" style="height:200px;"alt="">
            </div>
           </a>
       </div>
        
    </div><!--div close for row-->
</div>