<div class="tab-pane fade  rounded bg-white" id="newsletter" role="tabpanel" aria-labelledby="newsletter">
    <div class="grd-box pb-4">
         <div class="head1 mt-3">
           <h4> Newsletters</h4>
         </div>
         <p class="mt-4">
            NIWE brought out its quarterly newsletter "PAVAN" to create awareness and disseminate information on the activities and role of the Institute besides local and global developments in the wind energy sector. 
            The newsletter highlights the activities of NIWE and feature focused articles, success stories, interviews with experts in wind energy sector, Government's new rules/policies, and the latest news/ views/ trends.
            <br><br>
            NIWE's Quarterly Newsletter - PAVAN is published regularly in Hindi and English; and it is also available on the website of NIWE.
         </p>
         <h6>Advertisement Tariff for NIWE Newsletter "PAVAN"</h6>
         <a href="##">
         <button class="btn-3d"> Download here</button>
         </a>
    </div>
    <div class="row col-12 mx-auto px-0">
       <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
           <a href="###"> 
             <div class="card sm-card-design text-center px-0 py-3 h-100">
               <h5>ISSUE-79</h5>
               <h6>October-December, 2023</h6>
            </div>
           </a>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
           <a href="###"> 
            <div class="card sm-card-design text-center px-0 py-3 h-100">
               <h5>ISSUE-78</h5>
               <h6>July-September, 2023</h6>
            </div>
           </a>
       </div> 
       <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
           <a href="###"> 
            <div class="card sm-card-design text-center px-0 py-3 h-100">
               <h5>ISSUE-77</h5>
               <h6>July-September, 2023</h6>
            </div>
           </a>
       </div>  
       <div class="col-lg-3 col-md-4 col-sm-6 col-6 mt-4">
           <a href="###"> 
            <div class="card sm-card-design text-center px-0 py-3 h-100">
               <h5>ISSUE-76</h5>
               <h6>July-September, 2023</h6>
            </div>
           </a>
       </div>    
    </div><!--div close for row-->
</div>