{% include 'header.html' %}

<!-- nav end  -->

<section class="head-div">
    <div class="overlay d-flex align-items-center">
        <div class="container">
            <h1 class="text-white">Wind Potential Sites for setting up Wind Projects_MOD NOC details</h1>
        </div>
    </div>

</section>



<section class="Wind-div">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
              
            <h6><a href="/static/images/Condition_MOD.pdf" class="text-dark">General Conditions from MOD </a> <span class="blink_me" style="background-color:red; padding:1px 5px 4px;color:#fff;border-radius: 4px;">New</span></h6>

            <h5 class="pt-3"><a href="/static/images/Condition_MOD.pdf" target="_blank" class="text-dark pt-3 pb-3">* JPG Map </a> <span class="blink_me" style="background-color:red; padding:2px 5px 4px;color:#fff;border-radius: 4px;font-size:15px">New</span></h5>
            <ul style="color:#000">
                <a href="#"><li>Andhra Pradesh</li></a>
                <a href="#"><li>Gujarat</li></a>
                <a href="#"><li>Karnataka</li></a>
                <a href="#"><li>Maharashtra</li></a>
                <a href="#"><li>Rajasthan</li></a>
                <a href="#"><li>Tamil Nadu</li></a>

            </ul>



            <h5 class="pt-3"><a href="/static/images/Condition_MOD.pdf" target="_blank" class="text-dark pt-3 pb-3">* KML File </a> <span class="blink_me" style="background-color:red; padding:2px 5px 4px;color:#fff;border-radius: 4px;font-size:15px">New</span></h5>
            <ul style="color:#000">
                <a href="#"><li>Andhra Pradesh</li></a>
                <a href="#"><li>Gujarat</li></a>
                <a href="#"><li>Karnataka</li></a>
                <a href="#"><li>Maharashtra</li></a>
                <a href="#"><li>Rajasthan</li></a>
                <a href="#"><li>Tamil Nadu</li></a>

            </ul>

            </div>


           
        </div>

    </div>
</section>

<!-- footer -->

{% include 'footer.html' %}